#grid{
  display:grid;
  grid-template-columns:210px 1fr;
  margin:0;
}
#study{
  color:dodgerblue;
  padding:5px;
  margin:15pt;
}
#experience{
  color:seagreen;
  padding:5px;
  margin:15pt;
}
#certification{
  color: olive;
  padding:5px;
  margin:15pt;
}
#ability{
  color: seagreen;
  padding:5px;
  margin:15pt;
}
#computer{
    border:3px solid gray;
    margin:10px;
    padding:15px;
    display:inline;
}
#introduction{
  margin-right:45%;
}
body {
  background-color:aliceblue;
  margin:0;
}
h1 {
  text-align:center; font-size:350%;
  border-bottom:5px solid gray;
  padding:15px;
  margin:1px;
}
h3{
  color:olivedrab;
  font-size:20pt;
}
ul{
  border-right:3px solid black;
  margin:0;
  padding:35px;
}
li{
  font-size:20px;
}
div{
  margin:0;
  padding-left:30px;
}
p {
  border:5px solid black;
  margin:10px;
  padding:15px;
}
div img{
  padding:20px;
}
.resume{
  padding-left:25px;
}
.me{
  padding-left:20px;
  margin:0;
}
@media(max-width:800px){
  #grid{
    display:block;
  }
  ul{
    border:none;
  }
}
a{
  color:black;
  text-decoration:underline;
}
